extends layout

block content

  div(style='margin-left:20px;margin-top:20px')
    h4 Books
    if genre_books.length
      h3(style='padding-top:30px') Sorry but You have to delete the folloing books before delete the  Genre: #{genre.name}
      dl
      each book in genre_books
        dt
          a(href=book.url) #{book.title}
        dd #{book.summary}

    else
        p Do You Really Want to Delete This genre??
        p 
          form(method='POST' action='')
            div.form-group
                input#genreid.form-control(type="hidden", name="genreid", required='true' ,value=genre._id)
                button.btn.btn-primary(type='submit') Delete

  hr