extends layout

block content
  h1= title
  p Welcome to #[em Ayla Library], a very basic Express website.

  h6(style="color:#33ff33") Library content

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul(class='home-ul')
      li 
         a(href='/catalog/books') #[strong Books:] !{data.book_count}
      li
        a(href='/catalog/bookinstances') #[strong Copies:] !{data.book_instance_count}
      li #[strong Copies available:] !{data.book_instance_available_count}
      li 
        a(href='/catalog/authors') #[strong Authors:] !{data.author_count}
      li 
        a(href='/catalog/genres') #[strong Genres:] !{data.genre_count}
